<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample App</title>
  </head>
  <body>
    <div class="container-fluid text-center">
      <form action="" method="get" id="searchForm">
        <div class="row mt-5">
          <div class="col-2">
          </div>
          <div class="col-8">
            <h1>Sample App</h1>
          </div>
          <div class="col-2">
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
